.container-card-candidato {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00a9ff;
    color: #fff;
    border-radius: 10px;
}

.container-card-candidato img {
    border-radius: 10px 10px 0px 0px;
}

.container-nome-candidato {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0px;
}