.container-details {
    display: flex;
}

.container-dados-candidato {
    width: 100%;
    padding: 4em;
}

.container-img-candidato-votar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 36px;
}

.container-img-candidato-votar img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.box-top-infors {
    text-align: center;
}

#partido-title {
    color: #23A095;
    font-weight: 700;
}

.box-top-infors p {
    color: #23A095;
    font-weight: 700;
}

.container-form-votar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 4em;
}

.container-form-votar form {
    width: 100%;
}

.title-form-votar {
    text-align: center;
    font-size: 28px;
    color: #23A095;
    font-variant: small-caps;
}

.box-single-votar {
    padding: 1em;
    width: 100%;
}

.single-votar {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.single-votar label {
    font-weight: 700;
}

.single-votar input {
    max-width: 400px;
    width: 100%;
    padding: 10px 15px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #23A095;
}

.single-votar input::placeholder {
    color: #23A095;
    font-weight: 700;
}

.btn-votar {
    display: flex;
    justify-content: center;
}

.btn-votar button {
    border-radius: 10px;
    border: 1px solid #23A095;
    background: #23A095;
    padding: 10px;
    max-width: 145px;
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}

.msg {
    text-align: center;
}