.header-dashboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    background: #00a9ff;
}

.container-navbar-icon {
    display: flex;
    align-items: center;
    gap: 50px;
    user-select: none;
}

.header-dashboard img {
    max-width: 100px;
    width: 100%;
}

.container-btn-logout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 200px;
    width: 100%;
}

.btn-dashboard {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: none;
    max-width: 100px;
    width: 100%;
    padding: 5px 2px;
    background-color: #004e74;
    border-radius: 10px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

.main-dashboard {
    display: flex;
    width: 100%;
    height: calc(100vh - 90px);
}

.section-dashboard {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.navbar-aside {
    background: #00a9ff;
    padding: 1em;
    font-size: 28px;
    font-weight: 700;
    color: #fff;
}

.navbar-aside ul {
    list-style: none;
}

.link {
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px 0px;
    gap: 10px;
    text-decoration: none;
}