.container-editar {
    width: 100%;
}

.container-list-editar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-editar {
    width: 100%;
    padding: 1em;
    background-color: #006ba1;
}

.header-editar ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.link-header-editar {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}