.container-resultados {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.container-list-cand-votos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 22px;
    padding: 1em;
}