.header-dashboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    background: #52AE35;
}

.container-navbar-icon {
    display: flex;
    align-items: center;
    gap: 50px;
    user-select: none;
}

.header-dashboard img {
    max-width: 100px;
    width: 100%;
}

.container-btn-logout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 200px;
    width: 100%;
}

.btn-dashboard {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: none;
    max-width: 100px;
    width: 100%;
    padding: 5px 2px;
    background-color: #52AE35;
    border-radius: 10px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

.main-dashboard {
    display: flex;
    width: 100%;
    height: calc(100vh - 90px);
}

.section-dashboard {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.section-dashboard {
    overflow-y: scroll;
}

.navbar-aside {
    /* position: absolute; */
    /* height: calc(100vh - 90px); */
    background: #52AE35;
    padding: 1em;
    font-size: 28px;
    font-weight: 700;
    color: #fff;
}

.navbar-aside ul {
    list-style: none;
}

.link {
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px 0px;
    gap: 10px;
    text-decoration: none;
}

.display-none {
    display: none;
}

.perfil-user {
    display: flex;
    align-items: center;
    gap: 10px;
    user-select: none;
}

.perfil-user img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

@media screen and (max-width: 995px) {
    .navbar-aside {
        position: absolute;
        height: calc(100vh - 90px);
        background: #52AE35;
        padding: 1em;
        font-size: 28px;
        font-weight: 700;
        color: #fff;
    }
}