.container-modal-editar-candidato {
    display: flex;
    justify-content: space-around;
    padding: 2em;
}

.box-bottom-infors-editar-cand {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.box-candidato-btn-editar {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.box-candidato-btn-editar button {
    border-radius: 6.2px;
    padding: 9px 15px;
    border: none;
    background-color: #52AE35;
    color: #fff;
}

.box-candidato-btn-editar img {
    max-width: 100px;
    width: 100%;
}

@media screen and (max-width: 780px) {
    .container-modal-editar-candidato {
        display: flex;
        flex-direction: column;
        padding: 2em;
    }
}